*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding: 0;
}

.back{
  width: 5rem;
  height: 5rem;
  font-size: 1.1rem;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  bottom: 4rem;
  right: 4rem;
}

.back:hover{
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 50%;
}

.gallery-cont{
  height: 100vh;
  min-width: 100vw;
  background-color: rgb(176, 182, 188);
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
 
}

.media-cont{
  height: 15rem;
  width: 15rem;
  border: 10px solid white;
  background-color: rgb(244, 165, 165);
  margin: 2rem;
}

.media{
  height: calc(100% - 2rem - 2rem);
  background-color: aqua;
}
.media>*{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.action-btn{
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn:hover{
  cursor: pointer;
}
.download{
  background-color: black;
  
}
.delete{
  background-color: rgb(223, 43, 43);
}